<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Machine Learning Web App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container-main">
        <header class="header">
            <div class="header-div">
                <h1 style="color: gold;font-size: 2rem;">Multi-predictor:A Web Application for Machine Learning Predictions</h1>
                <br>
                <h3>Our project aims to deploy machine learning models through a web application built using the Flask web framework. The website provides users with the ability to interact with trained models for two different datasets: the Ames Housing dataset and the Titanic dataset.</h3>
                <br>
                <h2><div style="color: gold;">Purpose</div></h2>
                <br>
                <h3>The project aims to demonstrate the end-to-end process of deploying machine learning models through a web application, providing users with access to predictive analytics in an intuitive and accessible manner.</h3>
            </div>
        </header>
        <section class="secction">
            <div class="section-div">
                    <a href="./about_ames.html"><button h>About Ames Housing</button></a>
                    <a href="./about_titanic.html"><button>About Titanic</button></a>
                    <a href="./ames_classification.html"><button>Ames_Classification</button></a>
                    <a href="./ames_regression.html"><button>Ames_Regression</button></a>
                    <a href="./titanic_classification.html"><button>Titanic_Classification</button></a>
                    <a href="./titanic_regression.html"><button>Titanic_Regression</button></a>
                
            </div>
        </section>
    </div>
</body>
</html>
